.section {
  width: 100%;
  height: 80vh;
  background-color: #000;
  display: flex;
}

.column {
  flex: 1;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
