.wrapper {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  height: 50vh;
  gap: var(--gap-mini);
  position: relative;
  font-size: 1.5rem;
}

@media (orientation: landscape) {
  .columns {
    height: 80vh;
    font-size: 2rem;
    gap: var(--gap-small);
  }
}
