.wrapper {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  height: 50vh;
  gap: var(--gap-small);
  position: relative;
}

@media (orientation: landscape) {
  .columns {
    height: 80vh;
  }
}
