.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-small);
  width: 100%;
}

.image-wrapper {
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: pointer;
  aspect-ratio: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4) grayscale(0.5);
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
}

.image-wrapper--active .image {
  filter: brightness(1) grayscale(0);
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  margin: 0 var(--gap-small);
  max-width: 800px;
}

.header {
  padding-left: 1rem;
  max-width: 800px;
  width: 100%;
  text-align: start;
}

@media (min-width: 768px) {
  .wrapper {
    gap: var(--gap-medium);
    text-align: left;
  }

  .images-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
  }

  .content {
    width: 100%;
  }

  .header {
    padding-left: 0;
    text-align: start;
  }
}

@media (min-width: 1024px) {
  .image-wrapper {
    aspect-ratio: auto;
  }
}
