.wrapper {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: var(--color-background-overlay);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-gray);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.wrapper--hidden {
  opacity: 0;
  pointer-events: none;
}

.wrapper--expandable {
  position: fixed;
  top: 5%;
  right: max(0px, calc((100% - var(--max-width)) / 2));
  z-index: 10;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem 0;
  gap: 0;
  width: 2.75rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right: none;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: hidden;
}

.wrapper--expandable .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out,
    opacity 0.15s ease-in-out 0.3s;
}

.wrapper--expanded .content {
  max-height: 300px;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out,
    opacity 0.15s ease-in-out;
}

.logo {
  width: 100%;
  filter: invert(1);
  cursor: pointer;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.language-button,
.link {
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.link:hover,
.language-button:hover {
  opacity: 1;
}

.link {
  display: flex;
  text-decoration: none;
}

.icon {
  width: 1.25rem;
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .wrapper {
    right: 0;
  }
}
