.wrapper {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.wrapper--hidden {
  opacity: 0;
  pointer-events: none;
}

.wrapper--expandable {
  position: fixed;
  top: 5%;
  right: max(0.5rem, calc((100vw - var(--max-width)) / 2));
  z-index: 10;
  flex-direction: column;
  padding: 0.5rem 0rem;
  background-color: var(--color-dark-gray);
  width: 3rem;
}

.logo {
  width: 100%;
  filter: invert(1);
  cursor: pointer;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.language-button,
.link {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.link:hover,
.language-button:hover {
  opacity: 1;
}

.link {
  display: flex;
  text-decoration: none;
}

.icon {
  width: 1.5rem;
  filter: brightness(0) invert(1);
}
