.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0;
  gap: 2rem;
  max-width: 100%;
  border-radius: var(--border-radius);
  padding: 1rem 2rem 1rem 1rem;
  background-color: var(--color-dark-gray);
  transition: background-color 0.3s ease;
}

.section--hovered {
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
}

.image-container {
  flex: 2;
  min-width: 0;
  max-width: 100%;
  position: relative;
}

.image {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--border-radius);
  pointer-events: none;
}

.overlay--active {
  opacity: 1;
}

.content {
  min-width: 0;
  max-width: 800px;
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
}

.index-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.index {
  height: 4rem;
  width: 0.15rem;
  background-color: var(--color-light-gray);
  transition: background-color 0.3s ease, height 0.3s ease;
}

.index--active {
  background-color: var(--color-white);
  height: 6rem;
}
