.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0;
  gap: 4.5rem;
  max-width: 100%;
}

.image {
  flex: 2;
  min-width: 0;
  max-width: 100%;
}

.image.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.textContainer {
  min-width: 0;
  max-width: 800px;
  display: flex;
  flex: 1;
}

.indexContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.index {
  height: 4rem;
  width: 0.15rem;
  background-color: #ffffff80;
  margin: 5px;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.index--active {
  background-color: #fff;
  height: 6rem;
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.text--visible {
  opacity: 1;
  transform: translateY(0);
}
