.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 1rem;
  max-width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-dark-gray);
  transition: background-color 0.3s ease;
}

.section--hovered {
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
}

.image-container {
  flex: 2;
  min-width: 0;
  max-width: 100%;
  position: relative;
}

.image {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  pointer-events: none;
}

.overlay--active {
  opacity: 1;
}

.content {
  min-width: 0;
  max-width: 800px;
  display: flex;
  padding: 3rem 1rem;
  flex: 1;
  gap: 2rem;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text {
  flex: 1;
  line-height: 1.6;
}

.index-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.index {
  height: 4rem;
  width: 0.15rem;
  background-color: var(--color-light-gray);
  transition: background-color 0.3s ease, height 0.3s ease;
}

.index--active {
  background-color: var(--color-white);
  height: 6rem;
}

@media (min-width: 1024px) {
  .section {
    flex-direction: row;
    margin: 18rem 0;
    padding: 1rem 2rem 1rem 1rem;
    gap: 2rem;
  }

  .image {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }

  .overlay {
    border-radius: var(--border-radius);
  }

  .content {
    padding: 0;
  }
}
