.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0;
  gap: 4.5rem;
  max-width: 100%;
}

.image {
  flex: 2;
  min-width: 0;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.text-container {
  min-width: 0;
  max-width: 800px;
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--color-dark-gray);
  transition: background-color 0.3s ease;
}

.text-container--hovered {
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
}

.index-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.index {
  height: 4rem;
  width: 0.15rem;
  background-color: var(--color-light-gray);
  transition: background-color 0.3s ease, height 0.3s ease;
}

.index--active {
  background-color: var(--color-white);
  height: 6rem;
}
