.carousel {
  overflow: hidden;
}

.container {
  display: flex;
  width: calc(100vw - (var(--gap-mini) * 2));
}

.slide {
  flex: 0 0 90%;
  position: relative;
  border-radius: var(--border-radius);
  margin-left: var(--gap-mini);
  background-color: var(--color-gray);
}

.image {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.text-content {
  padding: var(--gap-small);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.text-content--right {
  right: 0;
  bottom: 0;
}

.text-content--left {
  left: 0;
  bottom: 0;
}

.buttons {
  display: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  opacity: 0.5;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 1;
}

.button-icon {
  width: 3rem;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
  }

  .slide {
    flex: 0 0 70%;
    margin-left: var(--gap-small);
    background-color: transparent;
  }

  .image {
    border-radius: var(--border-radius);
  }

  .text-content {
    position: absolute;
    width: 50%;
    background-color: var(--color-background-overlay);
    margin: var(--gap-small);
    border-radius: var(--border-radius);
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: var(--gap-small);
  }
}
