.section {
  display: flex;
  align-items: center;
  margin: 18rem 0;
}

.imageContainer {
  max-width: 800px;
  flex: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  opacity: 1;
  transform: translateX(-100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.image.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.imageIndexContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imageIndex {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff80;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.imageIndex--active {
  background-color: #fff;
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
}
