.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0;
  gap: 4.5rem;
}

.imageContainer {
  max-width: 800px;
}

.image {
  width: 100%;
}

.image.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.imageIndexContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imageIndex {
  width: 2.5rem;
  height: 0.15rem;
  background-color: #ffffff80;
  margin: 5px;
  transition: background-color 0.3s ease, width 0.3s ease;
}

.imageIndex--active {
  background-color: #fff;
  width: 3.5rem;
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.text--visible {
  opacity: 1;
  transform: translateY(0);
}
