.section {
  display: flex;
  align-items: center;
  background-color: #000;
}

.imageContainer {
  max-width: 800px;
  flex: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.image.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
}
