.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--gap-small);
}

.header {
  padding: var(--gap-medium) 0;
  text-align: left;
}

.text {
  text-align: left;
  font-size: 1.2rem;
  max-width: 800px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: var(--gap-small);
}

.button {
  display: flex;
  align-items: center;
  gap: var(--gap-mini);
  cursor: pointer;
  background: none;
  font: var(--font-family);
  font-weight: 600;
  color: var(--color-white);
  border: none;
  font-size: 1.2rem;
  padding: var(--gap-mini) 0;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  text-wrap: nowrap;
}

.chevron {
  transition: transform 0.3s ease;
}

.button:hover .chevron {
  transform: translateX(6px);
}

@media (min-width: 768px) {
  .header,
  .text {
    text-align: justify;
  }

  .button-container {
    flex-direction: row;
    gap: var(--gap-medium);
    align-self: center;
  }

  .button {
    padding: var(--gap-mini) var(--gap-small);
  }

  .button:hover {
    background-color: var(--color-gray);
  }
}
