.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--gap-small);
}

.header {
  padding: var(--gap-medium) 0;
  text-align: center;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
