.wrapper {
  display: flex;
  margin-bottom: 4rem;
  padding: 0 1rem;
  position: relative;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background-overlay);
  pointer-events: none;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5rem 1rem 3rem 1rem;
}


.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    margin-bottom: 8rem;
  }

  .background-container,
  .background-container::after {
    border-radius: var(--border-radius);
  }

  .background-container::after {
    background: linear-gradient(to right, #00000068, #00000000 90%);
  }

  .background-image {
    object-position: left;
  }

  .header {
    display: block;
  }

  .content {
    margin: 3rem 0 3rem 3rem;
    gap: 3rem;
  }

  .text-wrapper {
    gap: 2rem;
    padding: 2rem;
    max-width: 500px;
    background-color: var(--color-background-overlay);
    border-radius: var(--border-radius);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-bottom: 12rem;
  }

  .content {
    margin: 4rem 0 4rem 4rem;
    gap: 4rem;
  }

  .text-wrapper {
    max-width: 600px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin-bottom: 18rem;
  }
}
