.wrapper {
  display: flex;
  gap: 4rem;
  margin-bottom: 18rem;
}

.image {
  max-width: 800px;
}

.sub-header {
  margin: 2rem 0;
}

.sub-header,
.text {
  opacity: 0;
  transform: translateX(-4rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
