.wrapper {
  display: flex;
  margin-bottom: 18rem;
  position: relative;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00000068, #00000000 90%);
  border-radius: var(--border-radius);
  pointer-events: none;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  margin: 4rem 0 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 600px;
  background-color: var(--color-background-overlay);
  border-radius: var(--border-radius);
}

.sub-header {
  opacity: 0;
  transform: translateX(-4rem);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.sub-header--visible {
  opacity: 1;
  transform: translateX(0);
}
