.wrapper {
  display: flex;
  margin-bottom: 18rem;
  position: relative;
}

.text-wrapper {
  padding-top: 6rem;
}

.image {
  width: 800px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.header {
  position: absolute;
  top: 0;
}

.sub-header {
  margin: 2rem 0;
}

.sub-header,
.text {
  opacity: 0;
  transform: translateX(-4rem);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
