.wrapper {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 4rem 0;
}

.text {
  padding-bottom: 12rem;
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
