.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 0 1rem;
}

.header {
  padding: 4.5rem 0;
  text-align: center;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
