.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 4.5rem 0;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
