.column {
  flex: 1;
  position: relative;
}

.column__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  transition: filter 0.3s ease;
  border-radius: var(--border-radius);
}

.column__logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
  width: 7rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.column__logo--hidden {
  opacity: 0;
}

.column__image--active {
  filter: brightness(0.7);
}

.column__image--right {
  object-position: 80%;
}

.column__image--center {
  object-position: 50%;
}

.column__image--left {
  object-position: 20%;
}

@media (max-width: 768px) {
  .column__logo {
    top: 15%;
  }
}

@media (min-width: 1024px) {
  .column__logo {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .column__image--left {
    object-position: 5%;
  }

  .column__image--right {
    object-position: 100%;
  }
}
