.column {
  flex: 1;
  position: relative;
  cursor: default;
}

.column__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  transition: filter 0.3s ease;
  border-radius: var(--border-radius);
}

.column__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.column__logo {
  flex: 2 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.column__logo-image {
  filter: invert(1);
  width: 6rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.column__button {
  flex: 1 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3rem;
}

.column__spacer {
  flex: 0;
}

.column__image--active {
  filter: brightness(0.7);
}

.column__image--right {
  object-position: 80%;
}

.column__image--center {
  object-position: 50%;
}

.column__image--left {
  object-position: 20%;
}

@media (min-width: 768px) {
  .column__logo {
    flex: 2 0 0;
    padding-top: 4rem;
  }

  .column__logo-image {
    width: 12rem;
  }

  .column__spacer {
    flex: 0;
  }

  .column__content {
    pointer-events: auto;
  }
}

@media (min-width: 1200px) {
  .column__image--left {
    object-position: 5%;
  }

  .column__image--right {
    object-position: 100%;
  }
}

.column__logo-image--active {
  opacity: 0;
}
