.column {
  flex: 1;
  position: relative;
  padding: 10px 5px;
}

.column__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  transition: filter 0.3s ease;
  border-radius: var(--border-radius);
}

.column__logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
  width: 10rem;
}

.column__image--active {
  filter: brightness(0.7);
}

.column--right {
  object-position: 100%;
}

.column--center {
  object-position: 50%;
}

.column--left {
  object-position: 5%;
}
