.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.15rem;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  .button {
    text-wrap: nowrap;
  }
}
