@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Arial, sans-serif;

  --max-width: 1600px;

  --gap-mini: 0.5rem;
  --gap-small: 1rem;
  --gap-medium: 4rem;
  --gap-large: 8rem;

  --mobile: 480px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1200px;

  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */

  --border-radius: 5px;

  --box-shadow: #0000003c 0px 3px 6px, #00000054 0px 3px 6px;

  --color-black: #000;
  --color-dark-gray: #1c1c1c;
  --color-gray: #2c2c2c;
  --color-light-gray: #666;
  --color-white: #f8f8f8;

  --color-background-overlay: #00000099;
}

body {
  overflow-x: hidden; /* just to counter horizontal scrollbar from footer */
  font-family: var(--font-family);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-black);
}

h1 {
  font-size: var(--text-6xl);
  font-weight: 800;
  line-height: 1.1;
}
h2 {
  font-size: var(--text-5xl);
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: var(--text-4xl);
  font-weight: 700;
  line-height: 1.3;
}
h4 {
  font-size: var(--text-3xl);
  font-weight: 600;
  line-height: 1.3;
}
h5 {
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: 1.4;
}
h6 {
  font-size: var(--text-xl);
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: var(--text-lg);
  line-height: 1.6;
}
.text-sm {
  font-size: var(--text-sm);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}

@media (max-width: 768px) {
  :root {
    --text-6xl: 2.5rem; /* 40px */
    --text-5xl: 2rem; /* 32px */
    --text-4xl: 1.75rem; /* 28px */
  }
}
