.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 1rem 4rem 1rem;
  flex-direction: column;
}

.image {
  max-width: 15rem;
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.image--fade-out {
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 12rem;
    padding: 0;
  }

  .content {
    text-align: left;
    max-width: 30rem;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 8rem;
    margin-bottom: 18rem;
  }

  .image {
    max-width: 20rem;
  }

  .content {
    max-width: 40rem;
    gap: 2rem;
  }
}
