.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-medium);
  flex-direction: column;
}

.image {
  max-width: 15rem;
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.image--fade-out {
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  margin: 0 var(--gap-small);
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    padding: 0;
  }

  .content {
    text-align: left;
    max-width: 30rem;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 8rem;
  }

  .image {
    max-width: 20rem;
  }

  .content {
    max-width: 40rem;
    gap: 2rem;
  }
}
