.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 18rem;
}

.image-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4rem;
  z-index: -1;
}

.image {
  max-width: 20rem;
  border-radius: var(--border-radius);
  transition: transform 0.6s ease-out;
}

.header {
  transition: transform 0.6s ease-out;
}

.text {
  max-width: 60rem;
  text-align: center;
}
