.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 18rem;
}

.image {
  max-width: 20rem;
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.image--fade-out {
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  gap: 2rem;
}
